{% extends "base.html" %} {% block head %} {% endblock %} {% block body %}
<h3>User {{ reguser }} already exists!! Please try again.</h3>
<br />
<form method="POST" action="{{ url_for('register_post') }}">
  <center>
    Email:
    <input type="text" name="email" value="{{ reguser }}" size="20" /><br />
    Password: <input type="password" name="password" size="15" /><br />
    Retype Password: <input type="password" name="repassword" size="15" /><br />
    <br />
    <input type="submit" value="Register" />
  </center>
</form>
{% endblock %}
